<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" name="Home" data-toggle="collapse" data-target="#navbar">
        <i class="fas fa-home"></i>
        <a href="index.html">Home</a>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Uno</a></li>
          <li><a href="#">Dos</a></li>
          <li><a href="#">Tres</a></li>

        </ul>
      </div>
  </div>
</nav>
